* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

:root {
  --yellow: #f4d04e;
  --gray-950: #111111;
  --gray-500: #6b6b6b;
  --white: #ffffff;

  --ff-base: "Figtree", serif;
  --text-preset-1: 950 1.5rem/1.5 var(--ff-base);
  --text-preset-2: 500 1rem/1.5 var(--ff-base);
  --text-preset-3: 500 0.875rem/1.5 var(--ff-base);
  --text-preset-3-bold: 950 0.875rem/1.5 var(--ff-base);
}

html {
  font: var(--text-preset-2);
  color: var(--gray-950);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: inline-block;
}

#page {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 100px;
  align-items: center;
  justify-content: center;
  background-color: var(--yellow);
}

.card {
  margin-inline: auto;
  background-color: var(--white);
  width: 20.4375rem;
  border-radius: 1.25rem;
  border: 1px solid var(--gray-950);
  padding: 1.5rem;
  box-shadow: 8px 8px 0px #000000;

  & > img {
    border-radius: 0.625rem;
    margin-bottom: 1.5rem;
  }

  & .content {
    margin-bottom: 1.5rem;

    /* Toda vez que um elemento tiver outro elemento antes dele */
    & * + * {
      margin-top: 0.75rem;
    }

    & div.tag {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 73px;
      height: 26px;
      padding: 0.25rem 0.75rem;
      background-color: var(--yellow);
      font: 950 0.75rem/1.5 var(--ff-base);
      border-radius: 0.25rem;
    }

    & p.plubished {
      font: 500 0.75rem/1.5 var(--ff-base);
    }

    & h1 {
      font: 950 1.25rem/1.5 var(--ff-base);

      &:hover {
        color: var(--yellow);
        cursor: pointer;
      }
    }

    & p {
      font: var(--text-preset-3);
      color: var(--gray-500);
    }
  }

  footer {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    & img {
      width: 32px;
      height: 32px;
    }

    & span {
      font: var(--text-preset-3-bold);
    }
  }
}

footer.attribution {
  padding-inline: 5px;
  background-color: var(--white);
  box-shadow: 6px 6px 0px #000000;

  & a {
    font: var(--text-preset-3-bold);

    &:hover {
      text-decoration: underline;
      color: var(--yellow);
    }
  }
}

@media (width >= 80rem) {
  .card {
    width: 24rem;

    & .content {
      & div.tag {
        width: 82px;
        height: 29px;
      }

      & p.plubished {
        font: var(--text-preset-3);
      }

      & h1 {
        font: var(--text-preset-1);
      }

      & p {
        font: var(--text-preset-2);
      }
    }
  }
}
